# Configurações gerais
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Específico para arquivos TypeScript e JavaScript
[*.{js,jsx,ts,tsx}]
indent_size = 2

# Específico para arquivos JSON
[*.json]
indent_size = 2

# Específico para arquivos HTML e CSS
[*.{html,css,scss}]
indent_size = 2
